
.HUD {
    width: 100%;
    height: 100%;
    pointer-events: visible;
}

.hintContainer {
    /*width: 400px;*/
    height: 100%;

    position: absolute;
    flex-direction: column-reverse;
}

.promptContainer {
    position: absolute;

    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;
    pointer-events: none;
}